@font-face {font-family: 'Monserrat';
font-style: italic;
font: weight 400;
src: url(Monserrat-Regular.woff2) format('woff2');}

body {background: purple; font-size: 15px; 
    font-family: Monserrat;
    color: red;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: aqua;
    background-position-x: center;
    background: url(https://i.ytimg.com/vi/4_bAj7VfEYI/maxresdefault.jpg);
 }

h1, h2{color: lightskyblue;}
h1{font-size: 30px;}
h2{font-size: 20px;}
header {border-bottom: 1px solid brown;}
a{color: blueviolet;text-decoration-style: none;}
header p{font-size: 12px;}
header span{color: yellow;}
a :hover {color: yellow;}
button{background: rgb(6, 80, 39);
color: white;
border: 0;
padding: 10 px 20 px;
text-transform: uppercase;
border-radius: 10px;}
div h2 {padding: 25px; margin: 10px;}
 ul {padding: 5px; margin: 30px;}
